.homepage {
    /* background-color: #88ae868f; */
    height: calc(100vh - 50px);
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #8b8b8b62;
    cursor: pointer;
    margin-bottom: 50px;
}

.profile-statement {
    background-color: #a8c0a78f;
    color: #3f3f3faa;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 50px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;}

.profile-statement h1 {
    color: #222222d4;
}