.contact-title {
    border-bottom: 2px solid #a8c0a78f;
    margin-bottom: 100px;
}

.contact-subtitle {
    padding-bottom: 20px;
    text-align: center;
}

.contact-section {
    text-align: left;
    margin: 50px 0;
    /* min-height: 40vh; */
}

.contact-list {
    list-style: none;
}

.contact-list li {
    margin: 20px 0;
}

.contact-element {
    display: flex;
}

.contact-link {
    text-decoration: none;
    color: #222;
    border-left: 1px solid red;
    margin-left: 20px;
    padding-left: 50px;
}

/* @media screen and (min-width: 992px){
    .contact-list {
        display: flex;
        justify-content: center;
    }
    
    .contact-list li {
        margin-right: 80px;
    }

    .contact-link {
        margin-left: 10px;
        padding-left: 30px;
        }
    
} */